
.sub1{
    background-color: #405da3;
    height: 85px;
    width: 100%;
    
    
} body{
    margin: 0%;
    font-family:helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    border-bottom: white;
    border-top-color: white;
   
    width: 100%;
    height: 100%;
}
.login{
    width: 50%;
 float: left;
 padding-top: 7px;
 


}
.logo{
    width: 50%;
    padding-top: 25px;
    float: left;
}
.logotext {
    color: white;
    text-decoration: none;
    font-size: 39px;
    font-weight: bold;
    font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 170px;
    margin-bottom: 250px;
}
.login-label{
    color: white;
    font-size: 13px;

}
.logincontrol{
    margin-left: 86px;
}
.abc{
    color: #badcdd;
    font-size: 12px;
    margin-left: 16px
}
.button{
    background-color: #4267b2;
    color: white;
    border-color: #4267b2;
    border-radius: 2px;
    border: 1px ;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}
.button:hover{
    background-color: slateblue;
}
.left{
    
    width: 50%;
    float: left;
    margin-left: 54px;
    margin-top: 21px;
    font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}
.right{
   
    width: 50%;
    height: 500px;
    float: right;
    margin-top: -516px;
    margin-right: -42px;
}
.sub-main{
    background-color:#e1e5eb;
    width: 100%;
    height: 1093px;
    font-weight: bold;
    float: left;
}
.image{
    width: 529px;
    height: 394px;
    margin-left: 10px;
}
.txt{
    margin-bottom: 4px;
    font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.email{
    height: 23px;
    width: 350px;
    border-radius: 4px;
    border-top-color: white;
    border-bottom-color: white;
    border-top-color: white;
    border-bottom-color: white;
    margin-bottom: 14px;
    font-family:  Helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fname{
    height: 23px;
        border-radius: 4px;
        border-bottom: white;
        border-top-color: white;
        margin-bottom: 12px;
        margin-top: 11px;
        font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.name{
    height: 23px;
    width: 184px;
    border-radius: 4px;
    border-bottom: white;
    border-top-color: white;
    font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.password{
    height: 23px;
    border-radius: 4px;
    border-bottom: white;
    border-top-color: white;
    font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 350px;
}
.gender{
    padding-top: 310px;
}
.quest{
    height: 14px;
}
.twobutton{
    width: 146px;
    height: 38px;
    border-radius: 4px;
    background: #00a400;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
  font-size: 16px;
  color: white;
}
.para{
    color:gray;
    font-size: 13px;
    
}
.bd{
    font-weight: normal;
    color: gray;
}
.birth{
    
}